#compiled object files
*.o

#assembly language source files
*.s

#llvm bitcode files
*.bc

#llvm ir text files
*.ll

#misc executable files
*.out

#vscode settings
.vscode


# autoenv files
.autoenv
.autoleave


#pyc files
__pycache__/