#compiled object files
*.o

#QBE ssa files
*.ssa

#assembly language source files
*.s

#llvm bitcode files
*.bc

#llvm ir text files
*.ll

#misc executable files
*.out

#vscode settings
.vscode


# autoenv files
.autoenv
.autoleave

# direnv files
.envrc
.direnv

# nix environment files
*.nix



#pyc files
__pycache__/