# Keep generated artifacts out of the bootstrap sources.
*

# whitelist files to keep
!.gitignore
!parser/
!parser/*.dewy
!parser/t0_sketch_notes.md
!README.md
!DESIGN_NOTES.md
!IMPLEMENTATION.md
!semantic/
!semantic/*.dewy
!semantic/analyze/
!semantic/analyze/*.dewy
!backend/
!backend/*.dewy
!backend/udewy/
!backend/udewy/*.dewy
!main.dewy
!targets.dewy
!invocation/
!invocation/*.dewy
!tests/
!tests/*.*
